<div class="container">
  <div>
    <h3 class="table-caption">Workflow List</h3>
    <span class="refresh-time">[Last Updated: {{lastRefreshTime | date:'HH:mm:ss'}}]</span>
    <i class="fa fa-refresh refresh-button" aria-hidden="true" (click)="refreshList()"></i>
    <div class="right-group">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Filter (Subject, Message, Role, User)"
             (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </div>

  <div>
    <p-table #dt [value]="tasksList" [paginator]="true" [rows]="paginatorSize"
             [loading]="loading" sortField="TimeCreated" sortOrder="-1"
             [globalFilterFields]="['Subject','Message', 'RoleName', 'AssignedTo']">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 40px"></th>
          <th style="width: 80px">Priority</th>
          <th style="width: 20%">Subject</th>
          <th style="width: 20%">Message</th>
          <th style="width: 15%">Role</th>
          <th style="width: 15%" [pSortableColumn]="'AssignedTo'">
            Assigned To
            <p-sortIcon [field]="'AssignedTo'"></p-sortIcon>
          </th>
          <th style="width: 15%" [pSortableColumn]="'TimeCreated'">
            Time Created
            <p-sortIcon [field]="'TimeCreated'"></p-sortIcon>
          </th>
          <th style="width: 15%">Age</th>
          <th style="width: 80px">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td style="text-align: right">{{i + 1}}</td>
          <td style="text-align: right">{{row.Priority}}</td>
          <td>{{row.Subject}}</td>
          <td>{{row.Message}}</td>
          <td>{{row.RoleName}}</td>
          <td>{{row.AssignedTo}}</td>
          <td>{{row.TimeCreated}}</td>
          <td>{{row.Age}}</td>
          <td style="font-size: 12px; padding: .75em .75em; text-align: center">
            <button *ngIf="!row.AssignedTo" pButton type="button" title="Accept task"
                    icon="fa-check" class="ui-button-success" style="margin-right: 0"
                    (click)="acceptTask(row.ID)"
            ></button>
            <button *ngIf="row.AssignedTo" pButton type="button" icon="fa-search"
                    title="Task details" (click)="showTaskDetails(row.ID)"></button>
            <button *ngIf="row.AssignedTo" pButton type="button" icon="fa-ban" title="Decline task"
                    class="ui-button-danger" style="margin-right: 0" (click)="declineTask(row.ID)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div class="total"> Total items: {{tasksList?.length}}</div>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <div class="paginator-size-input">
          <p-dropdown [options]="paginatorOptions" [(ngModel)]="paginatorSize"></p-dropdown>
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-sidebar [(visible)]="sidebarIsVisible" position="right" styleClass="ui-sidebar-md">
  <div class="sidebar-spinner-wrapper" *ngIf="sidebarLoading">
    <p-progressSpinner class="sidebar-spinner"></p-progressSpinner>
  </div>
  <app-task-details [task]="selectedTask" (submit)="taskDetailsSubmitHandler()"></app-task-details>
</p-sidebar>
